@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #982bea;
  --color-bg-base: #ffffff;
  --color-bg-dark: #16171d;
  --color-border: #e5e4e7;
  --color-border-dark: #2e303a;
}

/* Custom base styles if needed */
@layer base {
  body {
    @apply antialiased text-gray-800 bg-white dark:bg-[#16171d] dark:text-gray-200;
  }
}